
<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#profile" data-toggle="tab"><%=t('user.profile')  %></a></li>
    <% if user_signed_in? and current_user.provider? %>
    <li><a href="#myuploadedcourse" data-toggle="tab"><%=t('user.myuploadedcourse')  %></a></li>
    <li><a href="#newcourse" data-toggle="tab"><%=t('videos.new') %></a></li>
    <% end %>

  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="profile">
      <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"></i> <%=t('user.profile')  %></h3>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><%=t('user.username')  %></th>
<% if !browser.device.mobile? %>
              <th><%=t('user.email')  %></th>
              <% if current_user.provider %>
              <th><%=t('user.provider')  %></th>
              <% end %>
              <% if current_user.admin %>
              <th><%=t('user.admin')  %></th>
              <% end %>
              <%if current_user.consultant!=nil %>
              <th><%=t('user.consultant')  %></th>
              <% end%>
<%end%>
              <th><%=t('user.membership')  %></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%=current_user.username %></td>
              <% if !browser.device.mobile? %>
              <td><%=current_user.email %></td>

              <%if current_user.provider %>
              <td>
                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> PROVIDER</button>
              </td>
              <% end %>
              <%if current_user.admin %>
              <td>
                <button class="btn btn-warning btn-xs"><i class="fa fa-check"></i> ADMIN</button>
              </td>
              <% end %>
              <td>
                <%if current_user.consultant!=nil %>
                <button class="btn btn-warning btn-xs"><i class="fa fa-check"></i><%=t('user.consultant')  %></button>
                <%else%>
                <a href="<%=new_consultant_path%>"><button class="btn btn-warning btn-xs"><%=t('user.newconsultant')  %></button></a>
                <%end%>
              </td>
              <% end %>
              <td>
                <a href="<%=service_membership_path  %>"><button class="btn btn-success btn-xs">
                <% case current_user.membership %>
        <% when "free" %>
        <i class="fa fa-child "></i>
        <% when "student" %>
        <i class="fa fa-mortar-board "></i>
        <% when "engineer" %>
        <i class="fa  fa-gear"></i>
        <% when "enterprise" %>
        <i class="fa fa-bank"></i>
        <% end %><%=current_user.membership.upcase %></button></a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <% if !browser.device.mobile? %>
      <%if current_user.consultant!=nil %>
      <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"></i> <%=t('user.consultantinfo')  %>
          <span  class="pull-right"><%= link_to sanitize('<button><i class="fa fa-pencil"></i> 编辑顾问信息</button>'),edit_consultant_path(@consultant) ,:class=>'btn-u btn-u-purple btn-xs'%></span>
        </h3>
        </div>
      <%=render 'consultant' %>
    </div>
    <%end%>
    <%end%>
      <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i>我的草稿</h3>
        </div>
          <% if @user_drafts !=nil %>
          <table class="table table-bordered">
            <tbody>

              <%- @user_drafts.each do |post| %>
              <tr>
                <td>
                  <a href="<%=post_path(post)%>"><%=post.title %></a>
                </td>
                <td>
                  <%= link_to sanitize('<button><i class="fa fa-trash-o"></i></button>'),
                    post_path(post),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default =>
                  'Are you sure?')) },
                    :class => 'btn btn-danger btn-xs' %>
                  <%= link_to sanitize('<button><i class="fa fa-pencil"></i></button>'),edit_post_path(post) ,:class=>'btn btn-info btn-xs'%>
                </td>
              </tr>
              <% end -%>
            </tbody>
          </table>
          <% end -%>
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>审核中的文章</h3>
      </div>
        <% if @approving_user_posts !=nil %>
        <table class="table table-bordered">
          <tbody>

            <%- @approving_user_posts.each do |post| %>
            <tr>
              <td>
                <a href="<%=post_path(post)%>"><%=post.title %></a>
              </td>
              <td>
                <%= link_to sanitize('<button><i class="fa fa-trash-o"></i></button>'),
                  post_path(post),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default =>
                'Are you sure?')) },
                  :class => 'btn btn-danger btn-xs' %>
                <%= link_to sanitize('<button><i class="fa fa-pencil"></i></button>'),edit_post_path(post) ,:class=>'btn btn-info btn-xs'%>
              </td>
            </tr>
            <% end -%>
          </tbody>
        </table>
        <% end -%>
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i>已发布的文章</h3>
        </div>
          <% if @published_user_posts !=nil %>
          <table class="table table-bordered">
            <tbody>

              <%- @published_user_posts.each do |post| %>
              <tr>
                <td>
                  <a href="<%=post_path(post)%>"><%=post.title %></a>
                </td>
                <td><%=post.hit %> <i class="fa fa-thumbs-o-up"></i> </td>
                <td>
                  <%= link_to sanitize('<button><i class="fa fa-trash-o"></i></button>'),
                    post_path(post),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default =>
                  'Are you sure?')) },
                    :class => 'btn btn-danger btn-xs' %>
                  <%= link_to sanitize('<button><i class="fa fa-pencil"></i></button>'),edit_post_path(post) ,:class=>'btn btn-info btn-xs'%>
                </td>
              </tr>
              <% end -%>
            </tbody>
          </table>
          <% end -%>

  </div>
      <div class="panel panel-orange margin-bottom-40">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tree"></i><%=t('videos.courselist')%></h3>
      </div>
      <table class="table table-bordered">
      	<tbody>
      		<%current_user.favorite_videos.each do |video|  %>
      		<tr>
      			<td><a href="<%=video_path(video)%>"><%=video.filename %></a></td>
      			<td>
      				<small>
      				<% if user_signed_in? %>
      					<%= link_to ("<i class='fa fa-play'></i>").html_safe, video_path(video), :class => 'btn-sm btn-primary' %>
      					<%- unless current_user.favorite_videos.exists?(id: video.id) -%>
      					<%= link_to ("<i class='fa fa-plus'></i>").html_safe, favorites_path(video_id: video), method: :post, :class => 'btn-sm btn-success' %>
      					<%- else -%>
      					<%= link_to ("<i class='fa fa-minus'></i>").html_safe, favorite_path(video), method: :delete,:class => 'btn-sm btn-danger' %>
      					<%- end -%>
      					<% end %></small>
      				</td>
      			</tr>
      			<% end -%>
      		</tbody>
      	</table>
</div>
      <div class="panel panel-success margin-bottom-40">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-line-chart"></i><%=t('videos.report') %></h3>
      </div>
      <% tag_cloud @user_favideos.tag_counts, %w{s m l} do |tag, css_class| %>

      <h2><%a=current_user.favorite_videos.by_tag(tag.name).size.to_f %></h2>
      <% if a!=0 %>
      <h2><%b=Video.by_tag(tag.name).size.to_f  %></h2>
      <h2><%c=a/b  %>
      	<h2><%d=c.round(2)  %></h2>
      	<h2><%e=d*100  %>
      	<h3 class="heading-xs"><strong><%=tag.name.upcase%></strong> --- <%=e.round(0)  %>% </h3>
      		<div class="progress">
      		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=d*100  %>" aria-valuemin="0" aria-valuemax="100" style="width: <%=d*100%>%">
      		</div>
      	</div>
        	<% end %>
      		<% end %>

      	</div>
</div>
    <div class="tab-pane fade in" id="myuploadedcourse">
      <%=render 'myuploadedcourse' %>
    </div>
    <div class="tab-pane fade in" id="newcourse">
      <%=render 'newcourse' %>
    </div>
  </div>
</div>
