        <div class="container content-lg">
        <div class="title-v1">
            <h2><%=t('welcome.slider.about')  %></h2>
            <p><%=t('welcome.slider.want_html')%><br><%=t('welcome.slider.new_html')  %><br>
            <%=t('welcome.slider.mission_html')  %></p>
            </div>

            <div class="row">
                <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line fa fa-road"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm"><%=t('welcome.slider.student')  %></h2>
                            <p><%=t('welcome.slider.studentdev')  %></p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line fa fa-trophy"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm"><%=t('welcome.slider.technician')  %></h2>
                            <p><%=t('welcome.slider.techniciandev')  %></p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line fa fa-cubes"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm"><%=t('welcome.slider.engineer')  %></h2>
                            <p><%=t('welcome.slider.engineerdev')  %></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="<%=image_path('about.jpg')%>" width="100%" height="100%" alt="about xulung">
                </div>
            </div>
        </div>
