    <div class="team-v1 bg-grey content-lg">
      <div class="container">
        <div class="title-v1">
          <h2><%=t('welcome.slider.revelution_html')  %></h2>
          <p><%=t('welcome.slider.team_html')  %><br><%=t('welcome.slider.teamdesc_html')  %></p>
          
          </div>

          <ul class="list-unstyled row">
            <li class="col-sm-4 col-xs-6 md-margin-bottom-30">
            <h3><%=t('course.technology')  %></h3>
              <ul class="feature-list no-bullet" data-ul-select="">
                <li>
                  <a href="/"><%=t('course.robotics')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.electric')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.robotguide') %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.mechanic')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.rapid')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.onsitetask')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.val3') %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.plc')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.kal')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.traceability') %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.fieldbus')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.siemens')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('couse.ab')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.vision')  %></a>
                </li>
              </ul>
            </li>
            <li class="col-sm-4 col-xs-6 md-margin-bottom-30">
              <h3><%=t('course.keyworld') %></h3>
              <ul class="feature-list no-bullet" data-ul-select="">
                <li>
                  <a href="/">ABB</a>
                </li>
                <li>
                  <a href="/">FANUC</a>
                </li>
                <li>
                  <a href="/">Robotstuido</a>
                </li>
                <li>
                  <a href="/">KAL</a>
                </li>
                <li>
                  <a href="/">VAL3</a>
                </li>
                <li>
                  <a href="/">V+</a>
                </li>
                <li>
                  <a href="/">RAPID</a>
                </li>
                <li>
                  <a href="/">Simulation</a>
                </li>
                <li>
                  <a href="/">Off-line Programming</a>
                </li>
                <li>
                  <a href="/">Motoman</a>
                </li>
                <li>
                  <a href="/">PLC</a>
                </li>
                <li>
                  <a href="/">Siemens</a>
                </li>
                <li>
                  <a href="/"><%=t('course.lasercutting')  %></a>
                </li>
                <li>
                  <a href="/"><%=t('course.grinding')  %></a>
                </li>
              </ul>
            </li>

            <li class="col-sm-4 col-xs-6">
              <h3><%=t('course.soft')  %></h3>
              <ul class="feature-list no-bullet" style="margin-bottom: 55px" data-ul-select="">
                <li>
                  <a href="/">Delcam</a>
                </li>
                <li>
                  <a href="/">Robot Master</a>
                </li>
                <li>
                  <a href="/">RobCAD</a>
                </li>
                <li>
                  <a href="/">Simatic Manager</a>
                </li>
                <li>
                  <a href="/">ABB Robot Studio</a>
                </li>
                <li>
                  <a href="/">ROS</a>
                </li>
              </ul>
              <h3><%=t('course.app')  %></h3>
              <ul class="feature-list no-bullet" data-ul-select="">
                <li>
                  <a href="/">iPad App</a>
                </li>
                <li>
                  <a href="/">Android App</a>
                </li>
              </ul>
            </li>
          </ul>                
        </div>
      </div>
