    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">编辑帐户</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="<%=root_path %>">首页</a></li>
                <li class="active">编辑帐户</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
<div class="container">
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<div class="reg-block">

  <div class="input-group margin-bottom-20">
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
    <%= f.text_field :username,autofocus: true,:class=>"form-control",:placeholder=>t('user.username')%>
  </div>
  <div class="input-group margin-bottom-20">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <%= f.email_field :email,:class=>"form-control",:placeholder=>t('user.email')%>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-group margin-bottom-20">
    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    <%= f.password_field :password, autocomplete: "off",:class=>"form-control",:placeholder=>t('user.password')%>
  </div>
  <div class="input-group margin-bottom-30">
    <span class="input-group-addon"><i class="fa fa-key"></i></span>
    <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control",:placeholder=>t('user.confirmpassword')%>
  </div>

  <div class="input-group margin-bottom-30">
    <span class="input-group-addon"><i class="fa fa-key"></i></span>
    <%= f.password_field :current_password, autocomplete: "off",:class=>"form-control",:placeholder=>t('user.currentpassword')%></div>
    <i><%=t('user.currentpasswordhint') %></i>

    <div class="input-group margin-bottom-30">
     <%= f.check_box :provider, :as => :boolean %>
     <span class="text-highlights text-highlights-purple rounded tooltips"><%=t('user.teacher') %></span> 
   </div>

   <div class="row">
    <span class="col-md-10 col-md-offset-1">
      <%= f.submit "保存更改",:class=>"btn-u btn-block" %>          
      <!--<%= link_to "Back",:back,:class=>"btn-u btn-block" %>-->
    </span>
  </div>
</div>
<% end %>
</div>
<!-- <div class="input-group margin-bottom-30">

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div> -->