<div class="row">
  <div class="col-md-12 col-sm-6">
    <div class="col-md-8 shadow-wrapper">
                  <div class="box-shadow shadow-effect-2">
    <img src="<%=image_path('multiply_brand.png')%>" width="100%" height="100%" alt="multiply_brand">
  </div>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">支持多种品牌机器人</h2>
    <ul>
      <li>ABB</li>
      <li>Adetp</li>
      <li>Coumau</li>
      <li>KUKA</li>
      <li>Fanuc</li>
      <li>Motoman</li>
      <li>Mitsubishi</li>
      <li>Kawasaki</li>
      <li>Panasonic</li>
      <li>Staubli, OTC, UR, Reis, PUMA and more...</li>
    </ul>
    <h2 class="text-center">即将支持...</h2>
    <ul>
      <li>Epson</li>
    </ul>
  </div>
  </div>
</div>

<hr>
<div class="row">
<div class="col-md-12 col-sm-6">
  <div class="col-md-4">
    <h2 class="text-center">支持多种类型机器人</h2>
    <ul>
      <li>单轴转台</li>
      <li>双轴转台</li>
      <li>三轴Delta，直线机器人</li>
      <li>四轴Delta机器人</li>
      <li>Scara机器人</li>
      <li>5轴，6轴，7轴工业机器人</li>
    </ul>
  </div>
  <div class="col-md-8">
  <img src="<%=image_path('multiply_type_robot.png')%>" width="100%" height="100%" alt="about xulung">
</div>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 col-sm-6">
  <div class="col-md-8">
  <img src="<%=image_path('work_envelop_3.png')%>" width="100%" height="100%" alt="about xulung">
</div>
<div class="col-md-4">
  <h2 class="text-center">显示机器人工作空间</h2>
  <ul>
    <li>工作范围显示，方便估计工作能力</li>
    <li>方便设计布局</li>
    <li>对于单元大小有个初步概念</li>
  </ul>
</div>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 col-sm-6">
  <div class="col-md-4">
    <h2 class="text-center">自带机器人控制面板</h2>
    <ul>
    <li>关节运动</li>
    <li>世界坐标系运动</li>
    <li>局部坐标系运动</li>
    <li>工具坐标系运动</li>
    </ul>
  </div>
  <div class="col-md-8">
  <img src="<%=image_path('Robot_teach_pedant.png')%>" width="100%" height="100%" alt="about xulung">
</div>

</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 col-sm-6">
  <div class="col-md-8">
  <img src="<%=image_path('robot_pre_code.png')%>" width="100%" height="100%" alt="about xulung">
</div>
<div class="col-md-4">
  <h2 class="text-center">支持机器人程序导出</h2>
  <ul>
    <li>ABB Rapid Custom Mod</li>
    <li>ABB Rapid Custom PRG</li>
    <li>Adept Staubli V+ Custom</li>
    <li>Coumau C4G Custom</li>
    <li>Fanuc Custom</li>
    <li>KUKA Custom</li>
    <li>KAIRO</li>
    <li>Nachi Custom</li>
    <li>UR Custom</li>
  </ul>
</div>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 col-sm-6">
  <div class="col-md-4">
    <h2 class="text-center">3D导入仿真建模</h2>
    <ul>
      <Li>STL</li>
      <li>IGES,IGS</li>
      <li>STEP,STP</li>
      <li>OBJ,SLD,3DS,DAE,BLEND</li>
      <Li>CAM生成的工具轨迹(CNC,NC,G-CODE,NGC,DXF,APT,CLS,NCL..)</li>
      <li>WRML(wrl,wrml)</li>
    </ul>
  </div>
  <div class="col-md-8">
  <img src="<%=image_path('3d_import.png')%>" width="100%" height="100%" alt="about xulung">
</div>

</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 col-sm-6">
  <div class="col-md-8">
  <img src="<%=image_path('connect_real_robot.png')%>" width="100%" height="100%" alt="about xulung">
</div>
<div class="col-md-4">
  <h2 class="text-center">连接真实机器人</h2>
  <ul>
  </ul>
</div>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 col-sm-6">
  <div class="col-md-4">
    <h2 class="text-center">在线工具校准器</h2>
    <ul>
      <Li>三点法</li>
      <li>四点法</li>
    </ul>
  </div>
  <div class="col-md-4">
  <img src="<%=image_path('3p_TCP.png')%>" width="100%" height="100%" alt="about xulung">
</div>
  <div class="col-md-4">
  <img src="<%=image_path('4p_TCP.png')%>" width="100%" height="100%" alt="about xulung">
</div>

</div>
</div>

<hr>
<h1 class="text-center">还有更多实用功能。。。</h1>
<h2 class="text-center">请联系contact@xulung.com</h2>
