
<nav class="navbar navbar-default navbar-fixed" role="navigation">
    <div class="container">
        <div class="navbar-header">
            
            <span><%=t('welcome.beta') %></span>
            <a class="navbar-brand" href="/">
                <span><%=t('welcome.title1')  %></span><%=t('welcome.title2')  %>
                <!-- <img src="assets/img/logo1.png" alt="Logo"> -->
            </a>
        </div>

        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <li class="page-scroll home">
                    <a href="/"><%=t('welcome.home')%></a>
                </li>
                <% if user_signed_in?  and current_user.provider? %>
                <li class="page-scroll"><a href="<%= desktop_index_path %>"><%=t('videos.desktop') %></a></li>
                <% end %>
                
                <% if user_signed_in? and current_user.admin? %>
                <li class="page-scroll"><%= link_to t('user.admin'), admin_index_path %> </li>
                <% end %>
                <li class="page-scroll">
                    <a href="<%=videos_path %>"><%=t('welcome.course') %></a>
                </li>
                <li class="page-scroll">
                    <a href="<%=blog_path %>"><%=t('welcome.blog') %></a>
                </li>
                <li class="page-scroll">
                    <a href="http://roboticsfaq.com"><%=t('welcome.forum') %></a>
                </li>
                
                <% if user_signed_in? %>
                <li class="page-scroll"><%= link_to t('user.logout'), destroy_user_session_path, method: :delete%></li>
                <% else %>
                
                <li class="page-scroll"><%= link_to t('user.signup'), new_user_registration_path %> </li>
                <li class="page-scroll"><%= link_to t('user.signin'), new_user_session_path%></li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
