<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
    
            <span><%=t('welcome.beta') %></span>
            <a class="navbar-brand" href="/">
                <span><%=t('welcome.title1')  %></span><%=t('welcome.title2')  %>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="page-scroll home">
                    <a href="#home"><%=t('welcome.home')%></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">课程</a>
                </li>
                <li class="page-scroll">
                    <a href="#course">专题</a>
                </li>
                <li class="page-scroll">
                <a href="#features">实战</a>
                </li>
                <li class="page-scroll">
                    <a href="<%=posts_path %>">博客</a>
                </li>
                <li class="page-scroll">
                    <a href="#join">登录</a>
                </li>
                
            </ul>
        </div>
</div>
<!-- /.container -->
</nav>
<!--=== End Header ===-->    