<%- model_class = Video -%>
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left"><%=t('videos.edit') %> <%=@video.filename  %></h1>
            <ul class="pull-right breadcrumb">
                <li><a href="<%=root_path %>">首页</a></li>
                <li><a href="<%=videos_path %>"><%=@video.filename  %></a></li>
                <li class="active"><%=t('videos.edit') %></li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
<div class="container">
<%= render :partial => 'form' %>
</div>
