

			<%
meta title: t('meta.title'),
     description: t('meta.description'),
     keywords: t('meta.keywords')
%>
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left"><%=t('user.signin') %></h1>
            <ul class="pull-right breadcrumb">
                <li><a href="<%=root_path %>">首页</a></li>
                <li class="active"><%=t('user.signin') %></li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--Reg Block-->
<div class="reg-block">
<%= devise_error_messages! %>
	<div class="reg-block-header">
		<p><%=t('devise.sessions.not_user')  %> <%= render "devise/shared/links" %></p>
	</div>

	<div class="input-group margin-bottom-20">
		<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
		<%= f.text_field :login,:class=>"form-control",:placeholder=>t('user.login') %>
	</div>
	<div class="input-group margin-bottom-20">
		<span class="input-group-addon"><i class="fa fa-lock"></i></span>
		<%= f.password_field :password, autocomplete: "off",:class=>"form-control", :placeholder=>t('user.password') %>
	</div>
	<% if devise_mapping.rememberable? -%>
	<%= f.check_box :remember_me,:checked=>true %> <%= f.label :remember_me %>
	<% end %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= f.submit t('user.signin'),:class=>"btn-u btn-block" %>
	</div>
</div>
</div>
<% end %>
<!--End Reg Block-->
</div>
<!--=== End Content Part ===-->
<script type="text/javascript">
	$.backstretch([
		"assets/img/bg/5.jpg",
		"assets/img/bg/4.jpg",
		], {
			fade: 1000,
			duration: 7000
		});
</script>
